.education{
    background-color: #0b4251;
    color: #e6b544;
     border-radius: 6px;
    justify-content: space-between;
    display: inline-flex;
    margin-bottom: 1rem;
    padding: 10px;
 h2{
font-style: italic;
font-family: Playfair;
font-weight: 800;
}
label{
    display: flex;
    font-size: 1rem;
    font-weight: 700;
    p{
        font-size: 1rem;
        padding-left: 20px;
        font-weight: 400;
    }
}

}
.education:hover{
    background-color: #87bbd7;
    color: #0b4251;
    border: 2px solid #0b4251;
}

.workimage2{
    // padding-left: -140px;
    img{
      height: 100%;
      width: 100%;
      padding-top: -160px;
      // object-fit: ;
    }
  }   

  @media (max-width: 600px) {
    .educ{
        display: flex;
flex-direction: column;
        width: 100%;
        margin-bottom: 1rem;

    }
    .education {
        display: block;

        width: 100%;
        margin-bottom: 1rem;
    }

    .education h2 {
        font-size: 1.5rem; 
    }

    .education label {
        flex-direction: column;
    }

    .workimage2 img {
        width: 100%;
        height: auto;
        padding-top: 0;
    }
}