// // @import '~bootstrap/scss/bootstrap';


//     .carousel-item {
//   height: 65vh;
//   min-height: 300px;
//   background: no-repeat center center scroll;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
//   object-fit: cover !important;
// }

//     // margin-left: 4rem;
// }

.container2 {
  margin-top: 1rem;

  .contact-form {
    max-width: 55rem;
    box-shadow: 0px 10px 20px #0b4251;
    margin: auto;
    font-family: playfair;
    font-weight: 900;
    border: 1px solid #0b4251;
    border-radius: 10px;

    .contact-inputs {
      display: flex;
      padding: 20px;
      flex-direction: column;
      border: none;
      gap: 3rem;
      input {
        border: 1px solid #0b4251;
        border-radius: 5px;
        padding: 7px 6px;
        text-transform: capitalize;
      }
      textarea {
        border: 1px solid #0b4251;
        border-radius: 5px;
        padding: 7px 6px;
        text-transform: capitalize;
      }
      input[type="submit"] {
        cursor: pointer;
        width: 5rem;
        background-color: #87bbd7;
        color: black;
        border: 1px solid #0b4251;
        border-radius: 4px;
        transition: all 0.2s;

        &:hover {
          background-color: #0b4251;
          border: 1px solid #87bbd7;
          color: #87bbd7;
          transform: scale(0.9);
        }
      }
    }
  }
}
