@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Playfair+Display+SC&family=Rubik+Bubbles&display=swap');


*{
  font-family: Playfair;
}

.btndiv{
  text-align: center;
    margin-top: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
}

.mainbtn{
  text-decoration: none;
  background-color: #87bbd7;
  padding: 10px;
  color: #0b4251;
  font-weight: 800;
  font-family: caveat;
  font-size: 19px;
  border-radius: 7px;
}
.mainbtn:hover{
  background-color: #e6b544;
  color: #0b4251;
  // border: 2px solid #0b4251;

}


 .myname{
  font-family: Rubik Bubbles;
  font-size: 3vw;
  color: #0b4251;
  text-align: center;
 }
 .myname:hover{
 text-decoration:line-through;
 font-family: caveat;
 font-weight: 600;
 color: #e6b544;
 }
 .mydisplay{
  font-family: caveat;
  font-size: 2vw;
  color: #0b4251;
  text-align: end;
  font-weight: 800;
  text-decoration: underline;
 }

 .myname:before{
  content: '<';
  padding: 0.5rem;
  color: #0b4251;
  size: 3rem;
}
 .myname:after{
  content: '/>';
  padding: 0.5rem;
  color: #0b4251;
  size: 3rem;
}

.bars{
    height: 2rem;
    width: 2rem;
    border: 2px solid #0b4251;
padding: 6px 6px;
    margin-left: 2%;
    background-color:transparent;
    color: black;
}
.bars:hover{
  background-color: #0b4251;
  border: 2px solid #87bbd7;
  color:#87bbd7;
}
.sidetitle{
    font-size: 1.1rem;
    color: #0b4251;
    font-weight: 800;
    margin-bottom: 1.5rem;    
}
.sidetitle:hover{
   border: 1px solid #0b4251;
   border-radius: 5px;
   font-family: Rubik Bubbles;
   font-weight: 300;
   color: #0b4251;
}
.sidebarlogo{
  color:#0b4251;
font-size: 3rem;
  padding-right:15px;
}
.sidebarlogo:hover{
  color: black;
}




//main
.main1{
    margin-top: -25px;
    display: flex;
    height:450px;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    background-color: #0b4251;
    
    animation: popup 2s ease-in;
    @keyframes popup {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(2);
      }
    }

    .imagemy {
  height: 360px;
  width: 60%;
  border: 6px solid #e6b544;
  background-color: #87bbd7;
  border-radius: 60%;
  /* Adjust this value to control the spacing between the image and the border */
  // position: relative;
  // animation: zigzag 4s linear infinite;
  animation: popup 1.5s ease-in-out;
}
@keyframes popup {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

// @keyframes zigzag {
//   0% {
//     left: 0;
//     top: 0;
//   }
//   25% {
//     left: 10px;
//     top: -10px;
//   }
//   50% {
//     left: 0;
//     top: 0;
//   }
//   75% {
//     left: -10px;
//     top: 10px;
//   }
//   100% {
//     left: 0;
//     top: 0;
//   }
}





//About
.me{
  background-color: #87bbd7;
//   animation: popup 2s;
// @keyframes popup {
//   from {
//     transform: translateX(0);
//   }
//   to {
//     transform: translateX(100px);
//   }
  
// }

    >h1{
      margin-left: 40%;
      margin-top: 2rem;
      font-family: caveat;
      color: #0b4251;
      // font-size: 2.3rem;
      border: 3px solid #0b4251 ;
      border-radius: 7px;
      padding: 8px 8px;
      display: inline-block;
    border-style: dotted;
     }
     
     >div{
      display: flex;
      height: 40%;
      width: 100%;
      > img{
        padding-left: 20px;
        // height: 390px;
        // border: solid 
        // #000000;
        border-right: 7px solid #0b4251;
        border-bottom: 7px solid #0b4251;
        //clip-path: circle(40%);
        position: relative;
        size: 20px;
        object-fit: cover;
        height: 40%;
        width:45%;
        margin-top: 3rem;
      }
      >p{
       margin-left:1rem;
      //  margin-right: 1rem;
       line-height: 1.2rem;
       text-align: justify;
       font-weight: 600;
       color: #0b4251;
       font-family: Playfair;
        margin-top: 4rem;
        width: 50%;
        padding-right: 10px;
        // letter-spacing: 2px;
     
      }
     }
     a{ 

       margin-left: 50%;
         >button{
  //        height: 3rem;
  //        border: none;
  //        color: white;
  //        border-radius: 0.6rem;
  //        background-color: #e407075b;
  //        cursor: pointer;
  //  width: 10rem;
  margin-top: -60px;
  background-color: #0b4251;
  color: #fff;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
  background-image: linear-gradient(to right, #0b4251,#87bbd7);
  background-size: 200% 100%;
  transition: background-position 0.3s;
}

/* Hover effect */



>button:hover{
          background-position: -100% 0;
         
            // border: 3px solid #e40707;
            // border-radius: 1rem;   
        }}
    >marquee{
      font-family:caveat;
    font-weight: 600;
      font-size: 2vw;
      // margin-top: 1rem;
      background-color: #0b4251;
      color: #87bbd7;
    }
    }
  

    .works{
        width: 100%;
       background-color:  #87bbd7;
        h1{
          margin-left: 40%;
          margin-top: 2rem;
          font-family: caveat;
          color: #0b4251;
          font-size: 2.3rem;
          border: 5px solid #0b4251 ;
          border-radius: 7px;
          padding: 8px 8px;
          display: inline-block;
        border-style: dotted;        }
        div{
          display: inline-block;
          // width: 100%;
      h2
      {
font-family: caveat;
    font-weight: 800;
    padding-left: 0.6rem;
    padding-top: 0.7rem;
    
    }
    p{
      font-family: Playfair;
      font-size: 1vw;
      padding-left: 0.5rem;
      // width: 50%;
      color: #0b4251;
      font-weight: 700;
      text-align: justify;
      width: 70%;
      padding-top: 0.5rem;
      word-spacing: 1px;
      
    };
    h2:before{
      content: '>';
      padding: 0.5rem;
      color: #0b4251;
      size: 3rem;
    }
    
          }
 .dodiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

 }
  .workimage{
    padding-left: -140px;
    img{
      height: 100%;
      width: 100%;
      // object-fit: ;
    }
  }    
        }

          //offers
.offers{
  background-color: #87bbd7;
  h1{
    margin-left: 40%;
    margin-top: 2rem;
    font-family: Caveat;
    color: #0b4251;
    // font-size: 2.3rem;
    border: 3px solid #0b4251 ;
    border-radius: 7px;
    padding: 8px 8px;
    display: inline-block;
  border-style: dotted;
  }
  div{
      display: flex;
      // width: 100%;
      padding-top: 2rem;
      
      
  }
  h4{
      color: #0b4251;
      display: flex;
      size: 3rem;
      font-weight: 300;
padding-top: 1rem;
      width: 100%;
      font-family: Rubik Bubbles;
      // padding-left: 2rem;
    //  font-size: 1rem;
     justify-content: center;
      svg{
          fill: #0b4251;
          padding-right: 0.5rem;
          padding-left: 0.5rem;
          width: 3rem;
          height: 3rem;  

      }
  
}
.icon{
  margin-top: 2rem;
}
}

//find
.find{
background-color: #87bbd7;
  h1{
    // margin-left: 40%;
    margin-top: 4rem;
    font-family: Caveat;
    color: #0b4251;
    // font-size: 2.3rem;
    border: 3px solid #0b4251 ;
    border-radius: 7px;
    padding: 8px 8px;
    display: inline-block;
  border-style: dotted;
  }
div{
  margin-top:1rem;

  a{
      svg{
      margin-top: 3rem;
      fill: #0b4251;
width: 3rem;
height: 3rem;      
padding-left: 2rem;
padding-right: 2rem;
     margin-left: 2rem;
     margin-bottom: 3rem;
  }
}}
}
//find
.find2{

  h1{
    // margin-left: 40%;
    margin-top: 4rem;
    font-family: Roboto;
    color: #0b4251;
    // font-size: 2.3rem;
    border: 3px solid #0b4251 ;
    border-radius: 7px;
    padding: 8px 8px;
    display: inline-block;
  border-style: dotted;
  }
div{
  margin-top:1rem;

  a{
      svg{
      margin-top: 3rem;
      fill: #0b4251;
width: 3rem;
height: 3rem;      
padding-left: 2rem;
padding-right: 2rem;
     margin-left: 2rem;
     margin-bottom: 3rem;
  }
}}
}

//footer
.footer{
  background-color: #87bbd7;
  div{
      display: flex;
      justify-content: flex-end;
      // margin-left: 24cm;
      font-family: Playfair;
font-size: 1.2rem;
text-align: center;
align-items: center;
p{
  color: #0b4251;
font-weight: 800;
  font: 1.2rem caveat;
  padding-left: 10px;
  padding-top: 10px;

}
  }
}
.copyright{
  text-align: center;
  padding-top: 1rem;
  color: #0b4251;
  font-weight: 700;
  // padding-bottom: 2rem;

}          

//project

.cardmain {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
//project
.card1 {
  margin: 0 2rem 0 2rem;
  position: relative;
  width: 300px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  padding: 30px;
  transition: .3s;
  background-color: #fff;
  cursor: pointer;
}

.card1:hover {
  height: 310px;
  transition: .3s;
}

.card1:hover .cardbody {
  transform: translateY(-210px);
  opacity: 1;
}

.image {
  position: relative;
  margin-left: 1rem;
  width: 90%;
  height: 100%;
  z-index: 99;
}

.image img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  transform: translateY(-70px);
}

.cardbody {
  transition: .3s;
  transform: translateY(-350px);
  text-align: left;
  opacity: 0;
}

.cardbody h4 {
  margin-top: 1.5rem;
 font-size: 1.4rem;
  margin-bottom: 0.5rem;
}
.cardbody p{
  text-align: justify;
}
.cardbody3 p{
  text-align: justify;
}


.cardmain2 {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.card3 {
  // margin: 0 1rem 0 1rem;
  // position: relative;
  width: 1100px;
  border:1px solid #0b4251;
  height: 280px;
  display: flex;
  border-radius: 10px;
  // box-shadow:0px 10px 20px #e40707; 
  padding: 10px;
  background-color: #87bbd7;
}
.cardbody3 {
  text-align: left;
}
.image2 {
  // position: fixed;
  // margin-left: 1rem;
  width: 60%;

  height: 100%;
  // z-index: 99;
}

.image2 img {
  width: 90%;
  height: 100%;
  // padding-top: -80px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.cardbody3 h4 {
  margin-top: 5px;
  text-align: center;
  font-size: 1.5rem;
  color: #021c24;
  font-weight: 800;
  text-decoration: underline;
}

.cardmain1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.card2 {
  margin: 0 2rem 0 2rem;
  position: relative;
  width: 190px;
  border:1px solid #b98814;
  height: 170px;
  border-radius: 10px;
  box-shadow:0px 10px 20px #021c24; 
  padding: 30px;
  background-color: #87bbd7;
}
.cardbody2 {
  text-align: left;
}
.cardbody2 h4 {
  margin-top: 5px;
  text-align: center;
 font-size: 1rem;
 font-weight: 800;
}


// .loading-page{
// background-color: #be686849;
// height: 602px;
// width: 100%;
// display: flex;
// flex-direction: column;
// justify-content: center;
// align-items: center;
// color: #e40707;
// text-align: center;
// font-family: Rubik Bubbles;
// }
.loading-page {
  background-color: #0b4251;
  height: 602px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  color: #87bbd7;
  text-align: center;
  font-family: 'Rubik Bubbles';
}
.page2{
  margin-top: -150px;
//   position: relative; // Add position relative
// padding: 20px;
// height: 45%;
//   &::before {
//     content: '';
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     border: 2px solid #e40707; // Adjust border as needed
//     border-width: 5px;
//     clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
//     animation: fillAnimation 3s linear forwards; // 5 seconds animation duration
//   }

  h1 {
    margin-bottom: 10px;
    font-family: Rubik Bubbles;
  }
  @keyframes popup {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

  h2 {
    animation: popup 1s ease-out;
  }

  @keyframes fillAnimation {
    0% {
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    }
    100% {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
}
 
.expmain{
  border-right: 1px solid #0b4251;
  background-color: #021c24;
}
.expheading{
  font-family: caveat;
  text-decoration: underline;
color: #87bbd7;
  font-weight: 800;
}
.explabel{
  font-family: Playfair;
  font-weight: 600;
  // font-size: 1vw;
  color: #e6b544;
  padding-top: 5px;
  padding-left: 20px;
}
.exppara{
  text-align: justify;
  font-family: Playfair;
  color: #e6b544;
  font-weight: 600;
  padding-left: 10px;
  text-transform: capitalize;
  text-wrap: wrap;

}
.explink{
  color: #87bbd7;
  text-transform: capitalize;
  font-family: caveat;
  font-size: 1.7vw;
  font-weight: 600;
}
.explink::before{
  content: ">";
  color: #87bbd7;
size: 3rem;
  gap: 10px;
}


// CustomCursor.scss
.custom-cursor {
  position: fixed;
  width: 30px;
  height: 30px;
  border: 2px solid #87bbd7;
  border-radius: 50%;
  background-color: #0b4251;
  mix-blend-mode: difference;
  pointer-events: none;
  transform: translate(-50%, -50%);
  z-index: 9999;
  transition: all 0.2s ease;
  // cursor: pointer;
  box-shadow: 0 0 10px #0b4251;
}



/* Add the following styles to your existing CSS */

/* Hide the default scrollbar */
body {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: transparent transparent; /* Firefox */
  overflow-y: scroll; /* Hide the default scrollbar in Webkit browsers */
}

/* Define the style for the custom scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  background-color: #87bbd7;
}

::-webkit-scrollbar-thumb {
  background-color: #87bbd7; /* Color of the thumb */
  border-radius: 7px; /* Rounded corners */
  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent; /* Color of the track */
}

/* Optional: You can add hover effects for the scrollbar */
::-webkit-scrollbar-thumb:hover {
  background-color: #0b4251; /* Hover color */
}


.projectbtn{
  background-color: #0b4251;
  padding: 15px 10px;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  color: #87bbd7;
  font-weight: 900;
  font-size: 1.3rem;
  
}
.projectbtn:hover{
  background-color: #e6b544;
  color:#0b4251;
}
.projectpage{
  display: flex;
  justify-content: center;

}


.iconpp{
height: 1.7rem;
width:1.7rem;
  color: #021c24;
  padding-left: 5px;
}
.iconp{
  border-left:8px solid #0b4251;
    font-weight:bolder;
    font-size: 15px;
    padding-right:10px;
    color:#021c24;
    margin-left:1rem;
   background-color:#e6b544;
   border-radius:6px
}
.heading{
  color: #0b4251;
  font-family:caveat;
  margin-top: -40px;
   font-weight:800; 
   font-size:5vw 
}
.backbtn{
  color: #0b4251;
  font-size: 2rem;
  padding-left:25px
}

.aboutlabel{
  display:flex;
  font-size:1.1rem;
  font-weight:800;
  color:#0b4251;
  font-family:Playfair
}

.headingc{
  font-size: 2rem;
  color: #021c24;
  font-weight: 800;
  text-decoration: underline;
}